/venv
*.pyc
/FPGA/*/software/.metadata
/FPGA/*/db/
/FPGA/*/incremental_db/
/FPGA/*/Qsys/synthesis/
/PCB/DE10-lite_shield/DE10-lite_shield-backups/*
/PCB/DE10-lite_shield/fp-info-cache/
/FPGA/R_DETECT/db/
/FPGA/R_DETECT/incremental_db/
FPGA/R_DETECT/DE10_LITE_D8M_VIP.qws
FPGA/R_DETECT/db/DE10_LITE_D8M_VIP.db_info
FPGA/R_DETECT/db/DE10_LITE_D8M_VIP.tmw_info