  .a_CompletedMap {
    grid-column: col / span 2;
    grid-row: row;
  }
  
  .b_CompletedMap {
    grid-column: col 3 / span 2;
    grid-row: row;
  }
  
  .c_CompletedMap {
    grid-column: col;
    grid-row: row 2;
  }
  
  .d_CompletedMap {
    grid-column: col 2 / span 3;
    grid-row: row 2;
  }
  
  .e_CompletedMap {
    grid-column: col / span 4;
    grid-row: row 3;
  }
  