* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    background: #FFF;
  }
  
  .casousel {
    margin:0 20px;
    overflow:"hidden";
    padding:2rem 0;
  }
  
  .casousel img {
    width: 10%;
    border-radius:100px;
  }
  
  .react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
  }
  
  .custom-dot-list-style button{
  border: none;
  background: rgb(255, 68, 68);
  }
  .react-multi-carousel-dot.react-multi-carousel-dot--active button{
  background: rgb(255, 68, 68) !important;
  }