.carousel-item_RoverCarousel {
  display: flex;
  justify-content: center;
}

.carousel-button_RoverCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative; /* Add position relative */
}

.carousel-button_RoverCarousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-caption_RoverCarousel {
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: none;
}

.overlay-red_RoverCarousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 8, 8, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-green_RoverCarousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 197, 66, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.carousel-button_RoverCarousel:hover .overlay-green_RoverCarousel {
  opacity: 1;
}

.carousel-button_RoverCarousel:hover .overlay-red_RoverCarousel {
  opacity: 1;
}

.overlay-green_RoverCarousel p {
  color: white;
  font-size: 14px;
}

.overlay-red_RoverCarousel p {
  color: white;
  font-size: 14px;
}
