.wrapper_Connected {
  display: grid;
  grid-gap: 0.2vh;
  grid-template-columns: repeat(20, [col] 4.88vw);
  grid-template-rows: repeat(20, [row] 4.88vw);
  background-color: #ffffff;
  color: #444;
  height: 100vh;
  padding: 0;
}

.DisplayMAC_Connected {
  grid-column: col 15 / span 5;
  grid-row: row 1 / span 1;
  text-align: center;
  line-height: 5px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  user-select: none
}

.SmallLeftButton_Connected {
  grid-column: col 14 / span 3;
  grid-row: row 12 / span 1;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  user-select: none;
  border: none;
  cursor: pointer;
}

.SmallRightButton_Connected {
  grid-column: col 17 / span 3;
  grid-row: row 12 / span 1;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  border: none;
  user-select: none;
}

.PauseButton_Connected {
  grid-column: col 14 / span 3;
  grid-row: row 12 / span 1;
  text-align: center;
  line-height: 40px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  border: none;
  user-select: none;
  cursor: pointer;
}

.EmergencyStopButton_Connected {
  grid-column: col 17 / span 3;
  grid-row: row 12 / span 1;
  text-align: center;
  line-height: 40px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  border: none;
  user-select: none;
  cursor: pointer;
}

.Map_Connected {
  grid-column: col 2 / span 11;
  grid-row: row 2 / span 11;
}

.Data_Connected {
  grid-column: col 14 / span 6;
  grid-row: row 2 / span 9;
  text-align: center;
  line-height: 40px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  user-select: none
}

.buttons_Connected {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative; /* Add position relative */
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  user-select: none;
  line-height: 70px;
}